# Compiled objects
src/*.o
src/*.so
src/*.dll

# R session files
.RData
.Rhistory
.Ruserdata

# RStudio
*.Rproj
.Rproj.user/

# R CMD check
*.Rcheck/
*.tar.gz

# OS files
.DS_Store
desktop.ini
Thumbs.db

# Build
*.tgz
inst/doc

# Simulation output
sim_*_output.txt
